<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="../../favicon.ico"> -->
    <title>hiya</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%= render partial: 'pages/navigation' %>
    
    <% if current_user.nil? %>
      <div class="jumbotron">
        <h1>file storage for people</h1>
        <p class="lead">We're making the world a better place</p>
        <p><a class="btn btn-lg btn-success" href='<%=new_user_registration_path%>' role="button">Sign up today</a></p>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>
    <% else %>
        <button class="btn btn-default"><%= link_to "Add Files", new_upload_path %></button>
    <% end %>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
