<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="../../favicon.ico"> -->
    <title>hiya</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%= render partial: 'pages/navigation' %>
    
      <div class="jumbotron">
        <h1>filebox</h1>
        <h2>file storage for humans</h2>


        <div id="hack" style="position: relative; height: 100px"></div>
        <p class="lead">We're making the world a better place</p>
        <% if current_user.nil? %>
          <p><a class="btn btn-lg btn-success" href='<%=new_user_registration_path%>' role="button">Sign up today</a></p>
        <% else %>
            <% if !current_user.uploads.nil? and current_user.uploads.size != 0 %>
                <button class="btn btn-default"><%= link_to "See Your Files!", uploads_path %></button>
            <% end %>
        <% end %>

        <button class="btn btn-default"><%= link_to "Add Files", new_upload_path %></button>
      </div>

    </div> <!-- /container -->
  </body>
</html>
